.top_scroll_buton {
    position: fixed; /* Fixiert den Button relativ zum Browserfenster */
    bottom: 20px;    /* Abstand zum unteren Rand */
    right: 20px;     /* Abstand zum rechten Rand */
    padding: 30px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000; /* Stellt sicher, dass der Button über anderen Elementen liegt */
}