/*              BUTTON1     GreenStyle        */
.button1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.button1:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.button1:active {
    background-color: #3e8e41;
    transform: translateY(1px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/*              BUTTON2     RedStyle        */
.button2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF0000; /* YouTube-Rot */
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

/* Stile für den Button, wenn der Mauszeiger darüber ist */
.button2:hover {
    background-color: #CC0000; /* Dunkleres Rot */
}

/* Stile für den Button, wenn er aktiv ist (gedrückt wird) */
.button2:active {
    background-color: #AA0000; /* Noch dunkleres Rot */
    transform: translateY(1px);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Zusätzliche Stile für den Button, um das YouTube-Logo hinzuzufügen */
.button2::before {
    content: "\f16a"; /* Unicode für das YouTube-Logo */
    font-family: "Font Awesome 5 Brands"; /* Verwendet Font Awesome für Symbole */
    margin-right: 10px; /* Abstand zwischen Logo und Text */
}

/*              BUTTON3     RedStyle        */
.button3 {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: grey;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.button3:hover {
    background-color: darkgray;
    transform: translateY(-2px);
}

.button3.active {
    background-color: #3e8e41; /* Farbe für aktiven Button */
    transform: translateY(1px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
